.footer__copyright {
    color: #545454;
    width: 282px;
    margin-top: 67px;
    margin-bottom: 60px;
    font-size: 18px;
}

@media screen and (max-width: 799px) {
    .footer__copyright {
        margin-right: auto;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 635px) {
    .footer__copyright {
        font-size: 14px;
    }
}