@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
    background-color: #000;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__section {
    max-width: 880px;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
}

.header{
    margin-top: 45px;
}

.line__break {
    margin-top: 41px;
    border: 1px solid #545454
}

@media screen and (max-width: 635px) {
    .header-logo {
        width: 126px;
        height: 24px;
    }
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

@media screen and (max-width: 635px) {
    .profile {
        flex-direction: column;
}
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;
}

.profile__info {
    display: grid;
    grid-template-areas: "title button" "description description";
    grid-template-columns: minmax(auto, 375px) auto; 
    align-items: center;
    column-gap: 14px;
}

@media screen and (max-width: 779px) {
    .profile__info {
        grid-template-columns: minmax(auto, 288px) auto;
    }
}

@media screen and (max-width: 635px) {
    .profile__info {
        grid-template-columns: minmax(auto, 200px) auto;
        margin-top: 26px;
    }
}

.profile__title {
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    grid-area: title;
    margin: 0;
}

@media screen and (max-width: 779px) {
    .profile__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 635px) {
    .profile__title {
        font-size: 22px;
    }
}

.profile__edit-button {
    background: transparent url(../images/card-images/Edit\ Button.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    border: 1px solid #FFFFFF
}

.profile__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    grid-area: description;
    margin: 0;
}

@media screen and (max-width: 635px) {
    .profile__description {
        justify-self: center;
        margin-top: 14px;
        font-size: 14px;
    }
    }

.profile__add-button {
    background: transparent url(../images/card-images/Add\ Button.svg) center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border-radius: 2%;
    border: 2px solid #FFFFFF
}

@media screen and (max-width: 779px) {
    .profile__add-button {
        height: 30px;
        width: 90px;
        margin-top: -18px;
    }
}

@media screen and (max-width: 635px) {
    .profile__add-button {
        margin: 36px 0 0;
        height: 50px;
        width: 282px;
        background-size: cover;
        padding: 0;
    }
}

.cards {
    margin-top: 51px;
}

.card__gallery {
    display: grid;
    list-style: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    height: 282px;
    width: 282px;
}

.card__description {
    margin: 0;
    display: flex;
    background-color: #fff;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    max-width: 220px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    background: transparent url(../images/card-images/like-inactive.svg) center no-repeat;
    height: 18px;
    width: 21px;
    padding-right: 20px;
    border: none;  
}

.footer__copyright {
    color: #545454;
    margin-top: 67px;
    margin-bottom: 60px;
}

@media screen and (max-width: 630px) {
    .footer__copyright {
       padding-top: 67px;
    }
}